@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
* {
  font-family: "Open Sans", sans-serif;
  padding: 0px;
  margin: 0px;
}

.app {
  display: flex;
  background-color: #fff;
  width: 99.85%;
  height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
}

.logo {
  width: 200px;
  padding: 0px;
}

.nav {
  display: flex;
  height: 10%;
  width: 100%;
  align-items: center;
  padding-top: 25px;
  background-color: #f7caca;
  border: 2px solid #fc9f9f;
  color: #000000ee;
}

.body-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 30%;
  width: 100%;
  height: 90%;
}

.side-bar {
  align-self: flex-start;
  width: 20%;
  height: 100%;
  background-color: #f7caca;
  border-right: 2px solid #fc9f9f;
}

.body {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 20px;
}

button {
  width: 100px;
  border: solid 0.5px solid 0.5px rgba(248, 191, 191, 0.05);
  border-color: #fc9f9f;
  background-color: transparent;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

.bottom-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  width: 100%;
  max-width: 650px;
}

input {
  align-self: center;
  width: 100%;
  border: none;
  font-size: 15px;
  background-color: rgba(252, 62, 62, 0.05);
  padding: 12px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0 0.05) 0 54px 55px, rgba(0, 0, 0 0.05) 0 -12px 30px,
    rgba(0, 0, 0 0.05) 0 4px 6px, rgba(0, 0, 0 0.05) 0 12px 3px,
    rgba(0, 0, 0 0.05) 0 -3px 5px;
}

input:focus {
  outline: none;
}

.flashcard {
  width: 300px;
  height: 150px;
  perspective: 1000px;
  position: relative;
}

.flashcard-inner {
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  cursor: pointer;
}

.flashcard.flipped .flashcard-inner {
  transform: rotateY(180deg);
}

.flashcard-front,
.flashcard-back {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  min-height: 100%;
  width: relative;
  height: relative;
  position: absolute;
  backface-visibility: hidden;
  color: #000000;
  background-color: rgba(252, 62, 62, 0.094);
  box-shadow: 0 4px 6px rgba(247, 246, 246, 0.1);
}

.flashcard-back {
  transform: rotateY(180deg);
}

.flashcards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#next,
#prev,
#upload {
  cursor: pointer;
}
