@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
* {
  font-family: "Open Sans", sans-serif;
  padding: 0px;
  margin: 0px;
}

.app {
  display: flex;
  background-color: #fff;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  min-height: 100vh;
  height: auto;
  width: 100%;
  align-items: center;
  text-align: center;
}

.nav {
  align-self: center;
  padding: 0px;
  margin: 20px;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  gap: 20px;

  margin: 0;
  padding: 0;
}

button {
  border: solid 0.5px solid 0.5px rgba(5, 5, 5, 0.5);
  background-color: transparent;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

.bottom-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  position: relative;
  width: 100%;
  max-width: 650px;
}

input {
  align-self: center;
  width: 100%;
  border: none;
  font-size: 20px;
  background-color: rgba(8, 8, 8, 0.05);
  padding: 12px 15px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0 0.05) 0 54px 55px, rgba(0, 0, 0 0.05) 0 -12px 30px,
    rgba(0, 0, 0 0.05) 0 4px 6px, rgba(0, 0, 0 0.05) 0 12px 3px,
    rgba(0, 0, 0 0.05) 0 -3px 5px;
}

input:focus {
  outline: none;
}

.flashcard {
  width: 300px;
  height: 150px;
  perspective: 1000px;
  position: relative;
}

.flashcard-inner {
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  cursor: pointer;
}

.flashcard.flipped .flashcard-inner {
  transform: rotateY(180deg);
}

.flashcard-front,
.flashcard-back {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  color: #fff;
  background-color: #010101;
  box-shadow: 0 4px 6px rgba(247, 246, 246, 0.1);
}

.flashcard-back {
  transform: rotateY(180deg);
}

#next,
#prev,
#upload {
  cursor: pointer;
}
